server:
  port: 8080

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user-service/**
          filters:
            - StripPrefix=1
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth-service/**
          filters:
            - StripPrefix=1

eureka:
 client:
    service-url:
      defaultZone: http://localhost:8761/eureka
 instance:
    prefer-ip-address: true
      #defaultZone: http://eureka-server:8761/eureka

security:
 jwt:
   secret: 256-bit-super-secret-key-for-portfolio
   access-expiration: 900
   refresh-expiration: 604800


